{% extends 'contador_cal/base.html' %}

{% block cuerpo %}
<div class="container mt-4">
    <h2 class="text-primary">Editar Usuario</h2>
    <form action="" method="post" class="mt-3">
        {% csrf_token %}
        <!-- Username -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" value="{{ usuario.username }}">
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ usuario.email }}">
        </div>

        <!-- First Name -->
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" name="first_name" id="first_name" value="{{ usuario.first_name }}">
        </div>

        <!-- Last Name -->
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="last_name" value="{{ usuario.last_name }}">
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
    </form>
</div>
{% endblock %}