<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <div class="container mt-5">
        <h1 class="text-center mb-4">Vamos a registrar otros datos tuyos</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Continuar</button>
        </form>

        <a href="{% url 'cancela_registro' %}" class="btn btn-link mt-3 d-block text-center">Cancelar</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
